<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Escáner de huellas</title>
  <link rel="stylesheet" href="../css/stylesaccesohuellaconfirm.css" />
</head>

<body>
  <div class="layout">
    <div class="text-zone">
      <h1>Acceso<br>confirmado</h1>
      <p>Huellas detectadas</p>
      <button id="btn-aceptar" class="aceptar-button">Aceptar</button>
    </div>
  </div>
  <script src="../js/accesohuellaconfirm.js"></script>
</body>

</html>