<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr exito</title>
    <link rel="stylesheet" href="../css/styleaccesovisitantes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="layout">
        <div class="card">
            <h1>Presente su folio</h1>
            <hr class="divider-line">
            <div class="message">
                <p>Si usted ya cuenta con un registro</p>
            </div>
            <button id="btn-volver-gst-accs" class="accept-button">Aceptar</button>
        </div>
    </div>
    <script src="../js/accesovisitantes.js"></script>
</body>

</html>