<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Escáner de huellas</title>
  <link rel="stylesheet" href="../css/stylesaccesoconhuellaerror.css"/>
</head>
<body>
  <div class="layout">
    <div class="text-zone">
      <h1>Error<br>vuelva a intentarlo</h1>
      <p>Vuelva a colocar su dedo en el sensor</p>
      <button id="btn-cancelar" class="cancel-button">Cancelar</button>
    </div>
  </div>
  <script src="../js/accesoconhuellaerror.js"></script>
</body>
</html>
