<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modo administrador</title>
    <link rel="stylesheet" href="../css/stylesadministradoropciones.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="../assets/logo.png" alt="Logo" onerror="this.src='https://via.placeholder.com/100'">
            </div>
            <div class="notifications" id="notis">
                <div class="notification-icon">
                    <i class="fas fa-bell"></i>
                    <span class="notification-count">5</span>
                </div>
                <div class="notifications-dropdown" id="notificationsDropdown">
                    <div class="notification-header">
                        <h3>Notificaciones de acceso</h3>
                    </div>
                    <div class="notification-list">
                        <!-- Notificaciones dinámicas se insertarán aquí -->
                    </div>
                    <div class="notification-footer">
                        <a href="#" class="view-all" id="view-all">Ver historial completo</a>
                    </div>
                </div>
            </div>
        </header>

        <main class="card-container">
            <div class="card" id="login-card-recuperar">
                <div class="card-image" style="background-image: url('../assets/recuperarqr.png');"></div>
            </div>


            <div class="card" id="login-card-actualizar">
                <div class="card-image" style="background-image: url('../assets/actualizardatos.png');"></div>
            </div>

            <div class="card" id="login-card-buscar">
                <div class="card-image" style="background-image: url('../assets/buscarusuarios.png');"></div>
            </div>


            <div class="card" id="login-card-generar">
                <div class="card-image" style="background-image: url('../assets/generarreportes.png');"></div>
            </div>

            <button id="btn-volver" class="back-button">
                Regresar
            </button>
        </main>

        <footer class="footer">
            <div class="window-size"></div>
        </footer>
    </div>
    <script src="../js/administradoropciones.js"></script>
</body>

</html>