<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Escáner de huellas</title>
  <link rel="stylesheet" href="../css/stylesasociarhuellalector.css"/>
</head>
<body>
  <div class="layout">
    <div class="text-zone">
      <h1 class="finger" id="dedos">Coloque en el<br>lector su dedo: <strong id="dedo-actual">Pulgar</strong></h1>
      <p id="huella-scan">Siga las indicaciones que se proporcionan</p>
      <button id="btn-cancelar" class="cancel-button">Cancelar</button>
    </div>
  </div>
  <script src="../js/asociarhuellalector.js"></script>
</body>
</html>
