<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Acceso</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <!--div class="help">
                <i class="fas fa-question-circle"></i>
            </div-->
            <div class="logo">
                <img src="../assets/logo.png" alt="Logo" onerror="this.src='https://via.placeholder.com/100'">
            </div>
            <div class="notifications" id="notis">
                <div class="notification-icon">
                    <i class="fas fa-bell"></i>
                    <span class="notification-count">1</span>
                </div>
            </div>
        </header>

        <main class="card-container">
            <div class="card" id="login-card-acceder">
                <div class="card-image" style="background-image: url('../assets/inicioacceder.png');"></div>
            </div>


            <div class="card" id="login-card-visitantes">
                <div class="card-image" style="background-image: url('../assets/iniciovisitantes.png');"></div>
            </div>

            <div class="card" id="login-card-registro">
                <div class="card-image" style="background-image: url('../assets/inicioregistro.png');"></div>
            </div>


            <div class="card" id="login-card-administrador">
                <div class="card-image" style="background-image: url('../assets/inicioadministrador.png');"></div>
            </div>
        </main>

        <div class="modal-overlay" id="modal-modo-administrador">
            <div class="modal-content">
                <h2>Inserte el usuario y contraseña para acceder</h2>
                <div class="campo">
                    <label for="usuario">Usuario</label>
                    <input type="text" id="usuario" name="usuario" required>
                </div>

                <div class="campo">
                    <label for="contraseña">Contraseña</label>
                    <div class="password-container">
                        <input type="password" id="contraseña" name="contraseña" required>
                        <i class="fa-solid fa-eye toggle-password" id="toggle-password"></i>
                    </div>
                </div>
                <button class="modal-btn" id="btn-aceptar">Ingresar</button>
                <button class="modal-btn-no" id="btn-cancelar">Cancelar</button>
            </div>
        </div>

         <div class="modal-overlay" id="modal-modo-noti">
            <div class="modal-content">
                <p>Para hacer uso de estas opciones necesita ingresar al modo administrador</p>
                <button class="modal-btn" id="btn-noti-aceptar">Aceptar</button>
            </div>
        </div>

        <footer class="footer">
            <div class="window-size"></div>
        </footer>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>