<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Notificaciones</title>
    <link rel="stylesheet" href="../css/stylesnotificaciones.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <main class="history-container">
            <div class="history-header">
                <h2>Notificaciones</h2>
            </div>

            <div id="lista-notificaciones">
                <p class="history-empty">Cargando notificaciones...</p>
            </div>

            <a class="delete-button" id="btn-marcar-leidas">Marcar todo como leído</a>
            <button id="btn-volver" class="back-button">
                Regresar
            </button>
        </main>
    </div>
      <script src="../js/notificaciones.js"></script>
</body>
</html>
