<!-- qrsuccess.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Qr éxito</title>
  <link rel="stylesheet" href="../css/sytyleqrsuccess.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
  <div class="layout">
    <div class="success-card">
      <h1>¡Lectura exitosa!</h1>
      <hr class="divider-line" />
      <div class="success-message">
        <p>Código válido:</p>
        <!-- Aquí se mostrará el nombre dinámico -->
        <p class="user-name"></p>
      </div>
      <button id="btn-volver-qr-sccs" class="accept-button">Aceptar</button>
    </div>
  </div>
  <script src="../js/qrsuccess.js"></script>
</body>
</html>
