<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recuperar Código QR</title>
  <link rel="stylesheet" href="../css/stylesrecuperarqr.css">
</head>

<body>
  <div class="container">
    <div class="search-card">
      <div class="header">
        <img src="../assets/logo.png" alt="Logo" class="logo" />
        <h1 class="title">RECUPERAR CÓDIGO QR</h1>
      </div>

      <div class="search-form">
        <div class="input-group">
          <label>Nombre</label>
          <input type="text" id="nombre" placeholder="Ejemplo: José" />
        </div>
        <div class="input-group">
          <label>Apellido paterno</label>
          <input type="text" id="apellidoP" placeholder="Ejemplo: Hernández" />
        </div>
        <div class="input-group">
          <label>Apellido materno</label>
          <input type="text" id="apellidoM" placeholder="Ejemplo: Vázquez" />
        </div>
        <button class="search-btn" id="buscarBtn">🔍</button>
      </div>

      <div class="results">
        <div class="result-row">
        </div>
      </div>
    </div>

    <div class="botonera">
      <button class="btn btn-regresar" id="btn-regresar">Regresar</button>
      <button class="btn btn-recuperar" id="btn-recuperarqr">Recuperar QR</button>
    </div>

  </div>

  <script src="../js/recuperarqr.js"></script>
</body>

</html>