<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr exito</title>
    <link rel="stylesheet" href="../css/stylewaitconfirm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="layout">
        <div class="success-card">
            <h1>Esperando confirmación del registro al sistema</h1>
            <hr class="divider-line">
            <div class="success-message">
                <p>Revise la bandeja de entrada de su correo electrónico</p>
            </div>
            <button id="btn-volver-qr-sccs" class="accept-button">Cancelar</button>
        </div>
    </div>
    <script src="../js/waitconfirm.js"></script>
</body>

</html>