html,
body {
    background-color: #4A4A4A;
    /* Fondo blanco */
    margin: 0;
    color: #000000;
    /* Texto negro */
    height: 100vh;
    width: 100vw;
    font-family: 'Arial', sans-serif;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    min-height: 100vh;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.access-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
    gap: 5px;
}

.access-card {
    width: 350px;
    height: 430px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.access-card:hover,
.access-card:active {
    background-color: #e7e7e7;
    /* Color al pasar mouse o hacer clic */
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-icon img {
    width: 165px;
    height: 165px;
    object-fit: contain;
    margin-bottom: 5px;
}

.card-content h2 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 34px;
    font-family: Ubuntu;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}

.card-content p {
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 32px;
    margin: 1px 40px; /* 5px arriba/abajo, 40px a los lados */
    letter-spacing: 0px;
    text-align: center;
    transition: color 0.3s;
}


.back-button {
    position: fixed;
    left: 40px;
    bottom: 50px;
    background-color: #537549;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    z-index: 10;
    /* Asegura que esté sobre otros elementos */
}

.back-button:hover {
    background-color: #34492e;
}

.backgroundwhite,
.backgroundwhite-bottom {
    width: 100%;
    text-align: center;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    height: auto;
}

.backgroundwhite img,
.backgroundwhite-bottom img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 80px;
}

/* Responsive design */
@media (max-width: 768px) {
    .access-options {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .access-card {
        width: 80%;
        height: auto;
        padding: 30px 20px;
    }

    .main-title {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
}