html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("../assets/asociarhuellalector.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.finger {
  font-size: 75px;
  font-family: Ubuntu;
  font-weight: 700;
  letter-spacing: 7.5px;
}

p {
  font-family: Open Sans;
  font-weight: 300;
  letter-spacing: 0px;
}

.layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
}

.text-zone {
  color: #333;
  max-width: 40%;
}

.text-zone h1 {
  font-size: 3.8em;
  margin: 0 0 50px 0;
  line-height: 1.2;
}

.text-zone p {
  font-size: 1.75em;
  margin-bottom: 30px;
}

.cancel-button {
  padding: 20px 30px;
  font-size: 16px;
  background-color: rgba(175, 87, 87, 0);
  color: #000000;
  border: 2px solid #000000;
  /* Cambiado para agregar un borde negro */
  border-radius: 8px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #800;
}